# Direct dependencies; transitive dependencies are resolved by pip.
PyYAML==6.0.3
beautifulsoup4==4.15.0
mkdocs==1.6.1
mkdocs-material==9.7.7
mkdocs-minify-plugin==0.8.0
mkdocs-simple-hooks==0.1.5
mkdocs-glightbox==0.5.2
mkdocs-mermaid2-plugin==1.2.3
pymdown-extensions==11.0.1
